div{
  width: 200px;
  height: 100px;
  padding: 10px 0px 0px 5px;
  margin-bottom: 10px;
  display: inline;
}

.bandera-amarilla{
  background-color: #F9A91A;
}

.bandera-gris {
  background-color: #2B2B2B;
  color: #FFF;
}
